.file-uploader-wrapper {
  padding: 15px 0;

  .file-uploader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .btn {
      height: 40px;
      margin-top: 10px;
    }
    .file-name {
      padding-left: 10px;
    }
    
    .image-preview {
      width: 200px;
      height: 290px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
