html, body, #root {
    height: 100%;
}

#root {
    background-image: url(assets/images/desk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.app {
    background-color: aquamarine;
    position: fixed;
    margin-left: 70px;

}
.nav_bar{      
        display: flex;
        margin-top: 0px;       
        padding-top: -8px;
        padding-left: 8px;
        padding-block: 13px;
}
