html, body, #root {
    height: 100%;
}

#root {
    background-image: url(assets/images/desk.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cadetblue;
    background-position: center;
    
    .page-container {
        display: flex;
        flex-flow: column;
        height: 100%;
    }
    .nav-bar {      
        flex: 0 1 auto;
    }

    .page-content {
        flex: 1 1 auto;
    }

    .react-datepicker-popper {
        z-index: 900;
    }
}