.page-membrii {
    background-color: rgba(211, 211, 211, 0.836);

    .age-input {
        max-width: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .search-phone {
        max-width: 100px;
    }

    .search-input {
        max-width: 130px;
    }

    .barra-buttons {
        display: flex;
        justify-content: space-between;
    }

    .header-lista {
        max-width: 140px;
    }
}