.page-persons {
    background-color: rgba(211, 211, 211, 0.836);

    .age-input {
        max-width: 45px;
    }
    .search-phone{
        max-width: 100px;
    }
    .search-input{
        max-width: 150px;
    }
    .barra-buttons{
        display: flex;
        justify-content: space-between;
    }
    .sex-filter{
        // width: 100px;
        display: flex;
    }
    .table-container {
        
        .sticky-header {
            position: sticky;
            top: 0;
            z-index: 1;
            background-color: #bbbbbb;
        }
        .sticky-search {
            position: sticky;
            top: 34px;
            z-index: 1;
            background-color: #bbbbbb;
        }
    }
    
}
.button-delete{
        height: 30px;
        padding: 0 10px!important;
    }
    .check-boxes{
        display: flex;
        justify-content: space-evenly;
    flex-direction: row-reverse;
    }
    .check-box{
        cursor: pointer;
    }