#login-box {
    margin-top: 120px;
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }

   #login-form {
    padding: 20px;
  }

  #login-form .error {
      color: red;
  }
